<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <script src="{% static 'js/profile.js' %}" defer></script>
    <script src="{% static 'js/logout.js' %}" defer></script>

</head>
<body>
    <nav>
        <div class="navbar">
            <button id="logoutBtn" class="logout-btn">Logout</button>
 
        </div>
            <div class="home-nav">
                <ul>
                    <li><a href="{% url 'dashboard_page'%}" class="active">Home</a></li>
                    <li><a href="./service/index.html">Profile</a></li>
                </ul>
            </div>
    </nav>

    <div class="main-container">
        <div class="form-container">
            <h2>User Profile</h2>
            <div class="profile-info">
           
            </div>
            <a href="{% url 'editProfile_page'%}" class="btn edit-btn">Edit Profile</a>
        </div>
    </div>
</body>
</html>